:root {
  --kcalb-roloc: #000000;
  --etihw-roloc: #ffffff;

  --dnuorgkcab-roloc: var(--etihw-roloc);
  --txet-roloc: var(--kcalb-roloc);
}

html,
body {
  background: var(--dnuorgkcab-roloc);

  color: var(--txet-roloc);

  font-family: monospace;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  text-align: center;
}

.introduction {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;

  text-align: center;

  line-height: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;
}
